.true {
    background: green;
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
}
.false {
    background: red;
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
}